
html {
box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

:root{
    --responsive-background-color:#296e99;
    --main-font:'Open Sans', sans-serif;

}

body{
    background-color: var(--responsive-background-color);
    font-family: var(--main-font);
    } 

    .items-container li{
        list-style: none;
        
           
    }
    
    .items-container a{
    text-decoration: none;        
    color: rgb(166, 204, 255);
    margin: 1px;
  
}
    
.items-container a:first-child{
margin-left: 10px;
}

    a:hover{
      color: rgb(208, 236, 255);
        transition: .4s;
    }

    .container { 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      width: 88%; 
      background-color: #2d9ce0;
        
        }
        
        .items-container  {

         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         align-items: stretch;
         
              
             } 

.logo img{
    height: 50px;
    width: 50px;
}
 
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

 

@media screen and (min-width:1000px) {
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }
    
      body {
        background-image: linear-gradient(310deg, #00ffff 0, #30ddff 25%, #429dd4 50%, #396282 75%, #26303c 100%);
        height: 100vh;
        background-repeat : no-repeat;
       background-size : contain;
    }
    
    .container { 
        background-color:  rgb(166, 204, 255);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .items-container {
        width: 75vw;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:0;
        padding: 15px;
    
    }
    
    .items-container li{
        list-style: none;
           
    }
    
    .items-container a{
        text-decoration: none;
        color: rgb(8, 147, 172);
    }
    
    a:hover{
      color: rgb(208, 236, 255);
        transition: .4s;
    }
    
    .logo img{
        height: 75px;
        width: 75px;
    }
    
    }